### 1. Data Cleaning and Manupulation

In [5]:
import pandas as pd

In [2]:
dates=['2023-01-15', '2022/05/20', '2021-11-03']

#use list comprehension to replace '/' with '-'

standardized_dates =[date.replace('/',"-") for date in dates]
standardized_dates

['2023-01-15', '2022-05-20', '2021-11-03']

In [4]:
sales_data = [
    {'product': 'A', 'revenue': 100},
    {'product': 'B', 'revenue': 150},
    {'product': 'A', 'revenue': 75},
    {'product': 'C', 'revenue': 200},
    {'product': 'B', 'revenue': 50}
]

sales_data

[{'product': 'A', 'revenue': 100},
 {'product': 'B', 'revenue': 150},
 {'product': 'A', 'revenue': 75},
 {'product': 'C', 'revenue': 200},
 {'product': 'B', 'revenue': 50}]

In [6]:
data = {
    'customer_id': [101, 102, 101, 103, 102, 101],
    'order_date': ['2023-01-10', '2023-01-12', '2023-01-15', '2023-02-01', '2023-02-05', '2023-02-10'],
    'product_category': ['Electronics', 'Books', 'Electronics', 'Home Goods', 'Books', 'Clothing']
}
df = pd.DataFrame(data)

In [8]:
df

   customer_id  order_date product_category
0          101  2023-01-10      Electronics
1          102  2023-01-12            Books
2          101  2023-01-15      Electronics
3          103  2023-02-01       Home Goods
4          102  2023-02-05            Books
5          101  2023-02-10         Clothing

In [20]:
df.groupby('customer_id')['product_category'].agg(lambda x: x.mode().to_list())

customer_id
101    [Electronics]
102          [Books]
103     [Home Goods]
Name: product_category, dtype: object

In [19]:
df.product_category.mode().to_list()

['Books', 'Electronics']

In [24]:
row={'customer_id': 101, 'order_date': '2023-01-10', 'product_category': 'clothings'}
pd.concat([df, 
    
], ignore_index=True)
df

   customer_id  order_date product_category
0          101  2023-01-10      Electronics
1          102  2023-01-12            Books
2          101  2023-01-15      Electronics
3          103  2023-02-01       Home Goods
4          102  2023-02-05            Books
5          101  2023-02-10         Clothing

In [37]:
lst=[1, 2, 3, 2, 4, 5, 3, 6, 7, 2]

dict={}
for i in lst:
    if i in dict:
        dict[i]+=1
    else:
        dict[i]=1 

dict

[dict[i] for i in dict if dict[i]>1]

[3, 2]

In [ ]:

list=[10, 20, 30, 40]

### 2. Data Transformation and Manupulation